<html>
<head>
    <title>Merchant Check Out Page</title>
</head>
<body>
<div style="text-align: center;">
    <h1>Please do not refresh this page or press back button...</h1>
</div>
<form method="post" action="https://securegw-stage.paytm.in/order/process" name="paytm">

        {% for key, value in param_dict.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}

</form>
<script type="text/javascript">
        document.paytm.submit();
</script>
</body>
</html>