{% extends api|yesno:"shop/api/apibase.html,shop/basic.html" %}
{% block title %}
{{ product.product_name }} - My Awesome Cart
{% endblock %}
{% block body %}
<div class="container my-5">
<div class="row">
    <div class="col-md-3">
        <img src="/media/{{ product.image }}" alt="{{ product.product_name }}" width="100%">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h2>{{ product.product_name }}</h2>
        <hr>
        <p>{{ product.desc }}</p><br>
        <h4>₹ {{ product.price }}</h4>
        <button class="btn btn-success">Buy Now!</button>
        <button id="prod{{ product.id }}" class="btn btn-primary cart">Add To Cart</button>
    </div>
</div>
</div>
{% endblock %}